@import "fonts";
@import "reset";

//variables -----------------------------------------------

$green: #27300f;
$orange: #d26a22;

//---------------------------------------------------------

img {
   max-width: 100%;
   height: auto;
}

input,
textarea {
   border-radius: 0;
}

html {
   font-size: 10px;
   scroll-behavior: smooth;
}

body {
   font-size: 1.6rem;
   color: $green;
   font-family: 'Jost', sans-serif;
   // font-family: 'Cormorant', serif;
}

a {
   color: inherit;
}

button {
   font-size: inherit;
   color: inherit
}

//anchors -------------------------------------------------
// #foo,... {
//    scroll-margin-top: var(--header-height);
// }

//js common blocks ----------------------------------------

//flex wrapper---------------------------------------------
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
   overflow-wrap: break-word;
}


// common -------------------------------------------------
.container {
   min-width: 320px;
   max-width: 1470px; //ширина контентной части
   padding: 0 15px; // плюсуешь 2x padding к контентной части
   margin: 0 auto;
}

//bem blocks ----------------------------------------------
.burger {
   width: 3.6rem;
   height: 3.6rem;
   border-radius: 50%;
   border: .1rem solid $green;
   background: transparent;

   &__body {
      position: relative;
      z-index: 3;
      width: 1.6rem;
      height: 1.2rem;
      margin: 0 auto;
      &::before,&::after {
         content: '';
      }
      &::before,&::after,span {
         position: absolute;
         left: 0;
         width: 100%;
         height: .2rem;
         background-color: $green;
         transition: 
            top .15s .15s ease-in,
            bottom .15s .15s ease-in,
            rotate .15s ease-in,
            opacity 0s .15s,
      }
      &::before {
         top: 0;
      }
      span {
         top: calc(50% - .1rem);
      }
      &::after {
         bottom: 0;
      }
      &.active {
         &::before,&::after,span {
            transition: 
               top .15s ease-in,
               bottom .15s ease-in,
               rotate .15s .15s ease-in,
               opacity 0s .15s,
         }
         &::before {
            top: calc(50% - .1rem);
            rotate: -45deg;
         }
         span {
            opacity: 0;
         }
         &::after {
            bottom: calc(50% - .1rem);
            rotate: 45deg;
         }
      }
   }
}
//scss  ---------------------------------------------------
%title {
   font-family: 'Cormorant', serif;
   font-size: 8rem;
   font-weight: 700;
   max-width: 13ch;
   span {
      display: block;
      font-style: italic;
   }
}
%subtitle {
   font-size: 2.4rem;
   line-height: 1.5em;
   max-width: 50ch;
}

%description {
   margin: 0 0 0 12rem;
   font-size: 1.8rem;
   line-height: 1.5em;
   max-width: 60ch;
   a {
      text-decoration: underline;
   }
}
%button {
   padding: 0 4.6rem;
   line-height: 6.5rem;
   color: white;
   text-transform: uppercase;
   letter-spacing: .125rem;
   border-radius: 6.5rem;
   background-color: #d26a22;
   box-shadow: 0 1rem 1.1rem .2rem rgba($orange, 0.2);
   transition: .3s;
   &:hover {
      box-shadow: 0 1rem 1.1rem .2rem rgba($orange, 0.4);
   }
}
%card-title {
   font-family: 'Cormorant', serif;
   font-size: 3rem;
   font-weight: 700;
}
%card-description {
   line-height: 1.5em;
   color: rgba($green, 0.7);
}
// --------------------------------------------------------
.fullscreen {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background-repeat: no-repeat;
   background-image: url("../images/cucumber.png"), url("../images/avocado.png"), url("../images/tomato.png"), url("../images/beans.png"), url("../images/pepper.png"), url("../images/hero-bg.png");
   background-position: 69rem 0, right -2rem top 4.4rem, right 12.2rem bottom 0, left 0 bottom 4.7rem, 3.8rem 40%, center;
   background-size: auto, auto, auto, auto, auto, cover;
}
.hero {
   flex-grow: 1;
   display: flex;
   align-items: center;
   padding: .8rem 0 7.5rem;

   &__body {
      display: flex;
      gap: 3rem;
      align-items: center;
      justify-content: space-between;
   }

   &__text {
      margin: 4rem 0 0 0;
      flex-basis: 50rem;
   }

   &__title {
      @extend %title;
      margin-bottom: 6rem;
   }

   &__description {
      @extend %description;
      margin-bottom: 5.6rem;
   }

   &__text-button {
      @extend %button;
      display: inline-block;
      margin: 0 0 0 12rem;
   }

   &__plate {}

   &__plate-image {
      img {
         box-shadow: 3.5rem 2.5rem 8rem -2rem rgba($green, 0.5);
         border-radius: 50%;
         width: 60.9rem;
      }
   }
   &__plate-item {

      &--one {}

      &--two {}

      &--three {}
   }

   &__plate-info {}

   &__plate-price {}

   &__plate-ingredient {}

   &__plate-dot {}
}
//header --------------------------------------------------
.header {
   padding: 4rem 0;

   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8rem;
   }

   &__logo {
      width: 12rem;
      height: 3.2rem;
   }

   &__menu {}

   &__menu-list {
      display: flex;
      flex-wrap: wrap;
   }

   &__menu-item {}

   &__menu-link {
      display: block;
      padding: 1.2rem 2.4rem;
      transition: .3s;

      &:hover {
         color: $orange;
      }
   }

   &__tel {
      flex-shrink: 0;
      font-weight: 500;
      transition: .3s;

      &:hover {
         color: $orange;
      }
   }

   &__cart {
      flex-shrink: 0;
      position: relative;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background: $orange url('../images/cart.svg') center / 1.55rem no-repeat;
      transition: .3s;

      &:hover {
         background-color: $green;
      }
   }

   &__cart-counter {
      position: absolute;
      top: .6rem;
      right: .8rem;
      color: white;
      font-size: .8rem;
   }
}

//flex main -----------------------------------------------
.content {
   flex-grow: 1;
}

.swiper {
   overflow: initial;
   
   &-slide {
      position: relative;
      height: auto;
      border-radius: 2rem;
      box-shadow: inset 0 0 0 .1rem rgba($green, 0.4);
      transition: box-shadow .3s;
      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         border-radius: 2rem;
         opacity: 0;
         box-shadow: inset 0 0 0 .3rem rgba($green, 0.4);
         transition: opacity .3s;
      }
      &:hover {
         box-shadow: inset 0 0 0 .3rem rgba($green, 0);
         &::after {
            opacity: 1;
         }
      }
   }
      
   &-pagination {}

   &-navigation {
      top: -5.9rem;
      color: $green;
      transition: .3s;
      opacity: .4;
      &::after {
         font-size: 18px;
      }

      &:hover {
         opacity: 1;
      }
   }

   &-button-next {
      right: -.8rem;
   }

   &-button-prev {
      left: auto;
      right: 7.4rem;
   }
}

.offer {
   padding: 3rem 0 12.4rem;
   background: url("../images/offer-bg.png") center / cover no-repeat;

   &__body {}

   &__title {
      @extend %title;
      margin: 0 0 6rem 0;
   }

   &__subtitle {
      @extend %subtitle;
      margin: 0 0 3.2rem 0;
   }

   &__slider {
      overflow: hidden;
      position: relative;
      padding: 6.8rem 0 0 0;
   }

   &__card {
      padding: 8rem 16.5rem 4rem 4rem;
      min-height: 52rem;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      position: relative;
      
      &::before {
         content: "";
         position: absolute;
         z-index: 0;
         transition: .3s;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%
      }
      &:hover {
         &::before {
            background-color: rgba(255, 255, 255, 0.55);
         }
         .offer__card-content {
            transform: none;
            *:not(.offer__card-title) {
               opacity: 1;
            }
         }
      }
   }

   &__card-content {
      position: relative;
      z-index: 1;
      transition: .3s;
      transform: translateY(calc(100% - 3rem));
      *:not(.offer__card-title) {
         transition: .3s;
         opacity: 0;
      }
   }

   &__card-title {
      @extend %card-title;
      margin: 0 0 2.9rem;
   }

   &__card-description {
      @extend %card-description;
      margin: 0 0 3.7rem 0;
   }

   &__card-more {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      font-weight: 500;
      text-transform: uppercase;

      &::before {
         content: "";
         width: 3rem;
         height: 3rem;
         margin: 0 2rem 0 0;
         background: url("../images/plus.svg") center / contain no-repeat;
      }
   }

   &__image {
      position: absolute;
      top: .1rem;
      right: .1rem;
      z-index: -1;
   }
}

.features {
   padding: 5.6rem 0 14.7rem;
   background: url("../images/features-bg.png") center / cover no-repeat;

   &__body {}

   &__title {
      @extend %title;
      margin: 0 0 6rem 0;
   }

   &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__description {
      @extend %description;
   }

   &__items {
      display: flex;
      gap: 8.7rem;
   }

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Cormorant', serif;
      font-size: 3rem;
      font-style: italic;
      font-weight: 700;

      &::before {
         content: "";
         width: 8.7rem;
         height: 8.7rem;
         border-radius: 50%;
         border: .1rem solid rgba($green, 0.4);
         margin: 0 0 2rem 0;
      }

      &--one::before {
        background: url("../images/health.svg") center / 4.3rem no-repeat; 
      }
   
      &--two::before {
         background: url("../images/traditions.svg") center / 3.9rem no-repeat;
      }
   
      &--three::before {
         background: url("../images/taste.svg") center / 4.5rem no-repeat;
      }
   }

}

//footer --------------------------------------------------
//adaptive ------------------------------------------------

@media (min-width: 1025px) {
   .burger {
      display: none;
   }
   .swiper-pagination {
      display: none;
   }
}

@media (max-width: 1024px) {
   .swiper {
      &-button-next, &-button-prev {
         display: none;
      }
   }
}

@media (min-width: 769px) {
   .hero {
      &__plate, &__plate-image {
         border-radius: 50%;
         border: .1rem solid rgba($green, 0.4);
      }
      &__plate {
         position: relative;
         padding: 5.3rem;
      }
      &__plate-image {
         padding: 2.3rem;
      }

      &__plate-item {
         position: absolute;
         display: flex;
         row-gap: 1rem;
         column-gap: 2rem;
         align-items: center;
         background: transparent;
         text-align: left;

         &:hover {
            .hero__plate-dot {
               border-color: $orange;
               &::after {
                  background-color: $orange;
               }
            }
         }
         &--one {
            left: 6.6rem;
            top: 4.9rem;
         }
         &--two {
            flex-direction: row-reverse;
            right: 0;
            top: 18.8rem;
         }
         &--three {
            flex-direction: column-reverse;
            right: 25.3rem;
            bottom: -5.5rem;
         }
      }

      &__plate-info {}

      &__plate-price {
         display: flex;
         flex-direction: column;
      }

      &__plate-ingredient {
         margin: 0 0 .9rem 0;
         opacity: .8;
      }
   
      &__plate-dot {
         width: 2rem;
         height: 2rem;
         border: .1rem solid $green;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         transition: .3s;

         &::after {
            transition: .3s;
            content: "";
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 50%;
            background-color: $green;
         }
      }
   }
}

@media (max-width: 768px) {
   .hero {
      &__plate-item {
         display: none;
      }
   }
}

@media (max-width: 530px) {}

//js swap blocks ------------------------------------------