@import "fonts";
@import "reset";

//variables -----------------------------------------------
:root {
   --green: #27300f;
   --orange: #d26a22;
}

//---------------------------------------------------------

img {
   max-width: 100%;
   height: auto;
}

input,
textarea {
   border-radius: 0;
}

html {
   font-size: 10px;
   scroll-behavior: smooth;
}

body {
   font-size: 1.6rem;
   color: var(--green);
   font-family: 'Jost', sans-serif;
   // font-family: 'Cormorant', serif;
}

a {
   color: inherit;
}

button {
   font-size: inherit;
   color: inherit
}

//anchors -------------------------------------------------
// #foo,... {
//    scroll-margin-top: var(--header-height);
// }

//js common blocks ----------------------------------------

//flex wrapper---------------------------------------------
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
   overflow-wrap: break-word;
}


// common -------------------------------------------------
.container {
   min-width: 320px;
   max-width: 1470px; //ширина контентной части
   padding: 0 15px; // плюсуешь 2x padding к контентной части
   margin: 0 auto;
}

//bem blocks ----------------------------------------------
.burger {
   width: 3.6rem;
   height: 3.6rem;
   border-radius: 50%;
   border: .1rem solid var(--green);
   background: transparent;

   &__body {
      position: relative;
      z-index: 3;
      width: 1.6rem;
      height: 1.2rem;
      margin: 0 auto;
      &::before,&::after {
         content: '';
      }
      &::before,&::after,span {
         position: absolute;
         left: 0;
         width: 100%;
         height: .2rem;
         background-color: var(--green);
         transition: 
            top .15s .15s ease-in,
            bottom .15s .15s ease-in,
            rotate .15s ease-in,
            opacity 0s .15s,
      }
      &::before {
         top: 0;
      }
      span {
         top: calc(50% - .1rem);
      }
      &::after {
         bottom: 0;
      }
      &.active {
         &::before,&::after,span {
            transition: 
               top .15s ease-in,
               bottom .15s ease-in,
               rotate .15s .15s ease-in,
               opacity 0s .15s,
         }
         &::before {
            top: calc(50% - .1rem);
            rotate: -45deg;
         }
         span {
            opacity: 0;
         }
         &::after {
            bottom: calc(50% - .1rem);
            rotate: 45deg;
         }
      }
   }
}
//scss  ---------------------------------------------------
%title {
   font-family: 'Cormorant', serif;
   font-size: clamp(3rem, 5.66vw, 8rem);
   font-weight: 700;
   max-width: 13ch;
   span {
      display: block;
      font-style: italic;
   }
}
%subtitle {
   font-size: 2.4rem;
   line-height: 1.5em;
   max-width: 50ch;
}

%description {
   margin: 0 0 0 min(8vw, 12rem);
   font-size: clamp(1.2rem, 2.26vw, 1.8rem);
   line-height: 1.5em;
   max-width: 60ch;
   a {
      text-decoration: underline;
   }
}
%button {
   padding: 0 4.6rem;
   line-height: 6.5rem;
   color: white;
   border-radius: 6.5rem;
   background-color: #d26a22;
   box-shadow: 0 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
   transition: .3s;
   &:hover {
      box-shadow: 0 1rem 1.1rem .2rem rgba(207, 92, 13, 0.4);
   }
}
//header --------------------------------------------------
.header {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   background: url("../images/header-bg.png") center/cover no-repeat;

   &__fullscreen {
      display: flex;
      flex-direction: column;
      flex: 1 0 100%;
      background-repeat: no-repeat;
      background-image: url("../images/cucumber.png"), url("../images/avocado.png"), url("../images/tomato.png"), url("../images/beans.png"), url("../images/pepper.png");
      background-position: 69rem 0, right -2rem top 4.4rem, right 12.2rem bottom 0, left 0 bottom 4.7rem, 3.8rem 40%;
   }
   &__top {
      padding: 4rem 0;
   }

   &__top-body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8rem;
   }

   &__logo {
      flex-shrink: 0;
   }

   &__menu {}

   &__menu-list {
      display: flex;
      flex-wrap: wrap;
   }

   &__menu-item {}

   &__menu-link {
      display: block;
      padding: 1.2rem 2.4rem;
      &:hover {
         color: var(--orange);
      }
   }

   &__tel {
      flex-shrink: 0;
      font-weight: 500;

      &:hover {
         color: var(--orange);
      }
   }

   &__cart {
      flex-shrink: 0;
      position: relative;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      background: var(--orange) url('../images/cart.svg') center / 1.6rem 1.4rem no-repeat;
      transition: .3s;
      &:hover {
         background-color: var(--green);
      }
   }

   &__cart-counter {
      position: absolute;
      top: .5rem;
      right: 1rem;
      color: white;
      font-size: .8rem;
   }
   
   &__content {
      flex-grow: 1;
      padding: 2rem 0 7.5rem;
   }
   &__content-body {
      display: flex;
      gap: 3rem;
      align-items: center;
      justify-content: space-between;
   }

   &__text {
      flex-basis: 50rem;
   }

   &__title {
      @extend %title;
      margin-bottom: 6rem;
   }

   &__description {
      @extend %description;
      margin-bottom: 5.6rem;
   }

   &__text-button {
      @extend %button;
      display: inline-block;
      margin: 0 0 0 min(8vw, 12rem);
   }

   &__plate {}

   &__plate-image {
      img {
         box-shadow: 3.5rem 2.5rem 8rem -2rem rgba(38, 47, 15, 0.5);
         border-radius: 50%;
      }
   }
   &__plate-item {

      &--one {}

      &--two {}

      &--three {}
   }

   &__plate-info {}

   &__plate-price {}

   &__plate-ingredient {}

   &__plate-dot {}

}

//flex main -----------------------------------------------
.content {
   flex-grow: 1;

   //temp
   height: 100vh;
   background: #eee;

}
//footer --------------------------------------------------
//adaptive ------------------------------------------------

@media (min-width: 1025px) {
   .burger {
      display: none;
   }
}

@media (max-width: 1024px) {}

@media (min-width: 769px) {
   .header {
      &__plate, &__plate-image {
         border-radius: 50%;
         border: .1rem solid var(--green);
      }
      &__plate {
         position: relative;
         padding: min(5.5vw, 5.4rem);
      }
      &__plate-image {
         padding: min(2.5vw, 2.4rem);
      }

      &__plate-item {
         position: absolute;
         display: flex;
         row-gap: 1rem;
         column-gap: 2rem;
         align-items: center;
         background: transparent;
         text-align: left;

         &:hover {
            .header__plate-dot {
               border-color: var(--orange);
               &::after {
                  background-color: var(--orange);
               }
            }
         }

         &--one {
            left: 8.6%;
            top: 6.4%;
         }
         &--two {
            flex-direction: row-reverse;
            right: 0;
            top: 24.7%;
         }
         &--three {
            flex-direction: column-reverse;
            right: 32%;
            bottom: -6.8%;
         }
      }

      &__plate-info {}

      &__plate-price {
         display: flex;
         flex-direction: column;
      }

      &__plate-ingredient {
         margin: 0 0 .9rem 0;
         opacity: .8;
      }
   
      &__plate-dot {
         width: 2rem;
         height: 2rem;
         border: .1rem solid var(--green);
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;

         &::after {
            content: "";
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 50%;
            background-color: var(--green);
         }
      }
   }
}

@media (max-width: 768px) {
   .header {
      &__plate-item {
         display: none;
      }
   }
}

@media (max-width: 530px) {}

//js swap blocks ------------------------------------------